.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #b7ebc5;
  font-size: 15px;
  font-weight: 300;
}

.distill-site-nav a {
  color: azure;
  text-decoration: italic;
}

.distill-site-nav a:hover {
  color: blue;
}

.distill-site-header { 
}

.distill-site-footer {
}


@media print {
  .distill-site-nav {
    display: none;
  }
}
