.distill-site-nav { 
  color: rgba(183, 235, 197, 0.8);
  background-color: #b7ebc5;
  font-size: 15px;
  font-weight: 300;
}

.distill-site-nav a {
  color: azure;
  text-decoration: italic;
}

.distill-site-nav a:hover {
  color: black;
}

.distill-site-header {
  color: black;
}

.distill-site-footer {
  color: black;
}


@media print {
  .distill-site-nav {
    display: none;
  }
}
